.development-icons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding-top: 0.5em;
}

.development-icons i {
  width: 1.8em;
  font-size: 4em;
  padding: 0.3em;
  margin: 0 auto;
}

#aboutText {
  padding-top: 125px;
  text-align: left;
}

#dynamicContent {
  height: calc(100vh - 125px);
}

#profilePic {
  width: 400px;
  float: right;
  /* padding-top: 100px; */
  margin-top: 10%;
  border-radius: 50%;
}

@media screen and (max-width: 800px) {
  .development-icons {
    display: none;
  }

  #profilePic {
    width: 300px;
  }

  #aboutText {
    padding-top: 0px;
    text-align: center;
  }
}
