.card {
  margin-top: 50px;
}

.card-body {
  height: 230px;
}

.card-img-top {
  height: 200px;
}

.card-title {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

#repoButton {
  float: right;
}
